{:lint-as {mount.core/defstate clojure.core/declare
           #_#_specialist-server.type/defscalar clojure.core/declare
           #_#_specialist-server.type/defobject clojure.core/declare
           #_#_orchestra.core/defn-spec clojure.core/declare}}
